<!DOCTYPE html>
<html lang="en">
  <!-- Mirrored from maraviyainfotech.com/wrapbootstrap/masterkart-html/masterkart-html/shop-full-width.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 11 Mar 2024 10:02:16 GMT -->
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0"
    />

    <title>Cake Cart</title>
    <meta
      name="keywords"
      content="Bootstrap 5.x, ecommerce, farming, food market, grocery market, grocery shop, grocery store, grocery supper market, multi vendor, organic food, supermarket, supermarket grocery"
    />
    <meta name="description" content="Multipurpose eCommerce HTML Template" />
    <meta name="author" content="ashishmaraviya" />

    <!-- site Favicon -->
    <link rel="icon" href="/assets/img/favicon/favicon.png" sizes="32x32" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>

    <!-- css Icon Font -->
    <link rel="stylesheet" href="/assets/css/vendor/msicons.min.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- css All Plugins Files -->
    <link rel="stylesheet" href="/assets/css/plugins/animate.css" />
    <link rel="stylesheet" href="/assets/css/plugins/bootstrap.css" />
    <link
      rel="stylesheet"
      href="/assets/css/plugins/bootstrap-select.min.css"
    />
    <link rel="stylesheet" href="/assets/css/plugins/owl.carousel.min.css" />
    <link
      rel="stylesheet"
      href="/assets/css/plugins/owl.theme.default.min.css"
    />
    <link rel="stylesheet" href="/assets/css/plugins/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/assets/css/plugins/slick.min.css" />
    <link rel="stylesheet" href="/assets/css/plugins/nouislider.css" />

    <!-- Main Style -->
    <link rel="stylesheet" id="main_style" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/assets/css/responsive.css" />
  </head>

  <body>
    <!-- Header start  -->
    <header class="ms-header">
      <!-- Header Top Start -->

      <!-- Header Bottom  Start -->
      <div class="ms-header-bottom d-none d-lg-block">
        <div class="container position-relative">
          <div class="row">
            <div class="ms-flex">
              <!-- Header Logo Start -->
              <div class="align-self-center ms-header-logo">
                <div class="header-logo">
                  <a href="index-2.ejs"
                    ><img src="/assets/img/logo/logo.png" alt="Site Logo"
                  /></a>
                </div>
              </div>
              <!-- Header Logo End -->

              <!-- Header Button Start -->
              <div class="align-self-center">
                <div class="ms-header-bottons">
                  <!-- Header User Start -->

                  <% if(islogin==true){ %>
                  <div class="ms-acc-drop">
                    <a
                      href="javascript:void(0)"
                      class="ms-header-btn ms-header-user dropdown-toggle ms-user-toggle"
                      title="Account"
                    >
                      <div class="header-icon">
                        <img
                          src="assets/img/icons/user.svg"
                          class="svg_img header_svg"
                          alt=""
                        />
                      </div>
                      <div class="ms-btn-desc">
                        <span class="ms-btn-title">Account</span>
                        <span class="ms-btn-stitle">Log-Out</span>
                      </div>
                    </a>
                    <ul class="ms-dropdown-menu">
                      <li>
                        <a class="dropdown-item" href="/views/users/myaccount"
                          >My Account</a
                        >
                      </li>
                      <li>
                        <a class="dropdown-item" href="/views/users/logout"
                          >Log-Out</a
                        >
                      </li>
                    </ul>
                  </div>

                  <% }else{ %>
                  <div class="ms-acc-drop">
                    <a
                      href="javascript:void(0)"
                      class="ms-header-btn ms-header-user dropdown-toggle ms-user-toggle"
                      title="Account"
                    >
                      <div class="header-icon">
                        <img
                          src="assets/img/icons/user.svg"
                          class="svg_img header_svg"
                          alt=""
                        />
                      </div>
                      <div class="ms-btn-desc">
                        <span class="ms-btn-title">Account</span>
                        <span class="ms-btn-stitle">Login</span>
                      </div>
                    </a>
                    <ul class="ms-dropdown-menu">
                      <li>
                        <a class="dropdown-item" href="/signup">Signup</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="/views/users/login"
                          >Login</a
                        >
                      </li>
                    </ul>
                  </div>
                  <% } %>
                  <!-- Header User End -->

                  <!-- Header wishlist Start -->
                  <a
                    href="javascript:void(0)"
                    class="ms-header-btn ms-wish-toggle"
                    title="Wishlist"
                  >
                    <div class="header-icon">
                      <img
                        src="assets/img/icons/wishlist.svg"
                        class="svg_img header_svg"
                        alt=""
                      />
                    </div>
                    <div class="ms-btn-desc">
                      <span class="ms-btn-title">Wishlist</span>
                      <span class="ms-btn-stitle"
                        ><b class="ms-wishlist-count">3</b>-items</span
                      >
                    </div>
                  </a>
                  <!-- Header wishlist End -->

                  <!-- Header Cart Start -->
                  <a
                    href="javascript:void(0)"
                    class="ms-header-btn ms-cart-toggle"
                    title="Cart"
                  >
                    <div class="header-icon">
                      <img
                        src="assets/img/icons/cart_5.svg"
                        class="svg_img header_svg"
                        alt=""
                      />
                      <span class="main-label-note-new"></span>
                    </div>
                    <div class="ms-btn-desc">
                      <span class="ms-btn-title">Cart</span>
                      <span class="ms-btn-stitle"
                        ><b class="ms-cart-count">3</b>-items</span
                      >
                    </div>
                  </a>
                  <!-- Header Cart End -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Header Button End -->

      <!-- Header menu -->
      <div class="ms-header-cat d-none d-lg-block">
        <div class="container position-relative">
          <div class="row justify-content-between">
            <!-- Category Toggle -->
            <div class="col ms-category-icon-block">
              <div class="ms-category-menu">
                <div class="ms-category-toggle">
                  <img
                    src="/assets/img/icons/category-icon.svg"
                    class="svg_img header_svg svg_cat"
                    alt="icon"
                  />
                </div>
              </div>
            </div>

            <!-- Main Menu Start -->
            <div id="ms-main-menu-desk" class="d-none d-lg-block sticky-nav">
              <div class="position-relative nav-desk">
                <div class="row">
                  <div class="col-md-12 align-self-center">
                    <div class="ms-main-menu">
                      <ul>
                        <li class="non-drop">
                          <a href="/">Home</a>
                        </li>
                        <li class="dropdown drop-list">
                          <a href="/products" class="dropdown-arrow"
                            >Products</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Main Menu End -->

            <div class="col ms-location-block">
              <div class="ms-location-menu">
                <div class="ms-location-toggle">
                  <img
                    src="/assets/img/icons/location.svg"
                    class="svg_img header_svg svg_loc"
                    alt="icon"
                  />
                  <span
                    class="ms-location-title d-1199 ms-location"
                    id="ms_location"
                  ></span>
                  <i
                    class="msicon msi-angle-down d-1199"
                    aria-hidden="true"
                  ></i>
                </div>
                <div class="ms-location-content">
                  <div class="ms-location-dropdown">
                    <div class="row ms-location-wrapper">
                      <ul class="loc-grid">
                        <li class="loc-list current">
                          <img
                            src="/assets/img/icons/location.svg"
                            class="svg_img header_svg svg_loc"
                            alt="icon"
                          /><span class="ms-detail-current"
                            >current Location</span
                          >
                        </li>
                        <li class="loc-list">
                          <img
                            src="/assets/img/icons/location.svg"
                            class="svg_img header_svg svg_loc"
                            alt="icon"
                          /><span class="ms-detail">rajkot, in</span>
                        </li>
                        <li class="loc-list">
                          <img
                            src="/assets/img/icons/location.svg"
                            class="svg_img header_svg svg_loc"
                            alt="icon"
                          /><span class="ms-detail">Mountain View, us</span>
                        </li>
                        <li class="loc-list">
                          <img
                            src="/assets/img/icons/location.svg"
                            class="svg_img header_svg svg_loc"
                            alt="icon"
                          /><span class="ms-detail">Birmingham, UK</span>
                        </li>
                        <li class="loc-list">
                          <img
                            src="/assets/img/icons/location.svg"
                            class="svg_img header_svg svg_loc"
                            alt="icon"
                          /><span class="ms-detail">Jakarta, id</span>
                        </li>
                        <li class="loc-list">
                          <img
                            src="/assets/img/icons/location.svg"
                            class="svg_img header_svg svg_loc"
                            alt="icon"
                          /><span class="ms-detail">lima, pe</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Header menu End -->

      <!-- Header responsive Bottom  Start -->
      <div class="ms-header-bottom d-lg-none">
        <div class="container position-relative">
          <div class="row">
            <div class="ms-flex">
              <!-- Header Logo Start -->
              <div class="col ms-header-logo">
                <div class="header-logo">
                  <a href="index-2.ejs">
                    <img src="/assets/img/logo/logo.png" alt="Site Logo" />
                  </a>
                </div>
              </div>
              <!-- Header Logo End -->
              <!-- Header menu Start -->
              <a
                href="javascript:void(0)"
                class="ms-header-btn ms-site-menu-icon d-lg-none"
              >
                <img
                  src="/assets/img/icons/menu.svg"
                  class="svg_img"
                  alt="menu"
                />
              </a>
              <!-- Header menu End -->
            </div>
          </div>
        </div>
      </div>
      <!-- Header responsive Bottom  End -->
    </header>
    <!-- Header End  -->

    <!-- Breadcrumb start -->
    <div class="ms-breadcrumb m-b-30">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="row ms_breadcrumb_inner">
              <div class="col-md-6 col-sm-12">
                <h2 class="ms-breadcrumb-title">All Products</h2>
              </div>
              <div class="col-md-6 col-sm-12">
                <!-- ms-breadcrumb-list start -->
                <ul class="ms-breadcrumb-list">
                  <li class="ms-breadcrumb-item">
                    <a href="/">Home</a>
                  </li>
                </ul>
                <!-- ms-breadcrumb-list end -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Breadcrumb end -->

    <h4 style="text-align: center">
      <i class="fas fa-map-marker-alt fa-xl"></i>My Address
    </h4>
    <div class="row">
      <div class="col-12">
        <div
          class="btn-group me-0 d-flex justify-content-between"
          role="group"
          aria-label="..."
        >
          <a href="/orderHistory" class="btn btn-primary m-5"
            ><i class="fa fa-user" aria-hidden="true"></i>Order History</a
          >
          <a class="btn btn-primary m-5" href="/myAddress"
            ><i class="fas fa-map-marker-alt" aria-hidden="true"></i> My
            Address</a
          >
          <a class="btn btn-primary m-5" href="/addAddress"
            ><i class="fas fa-map-marker-alt" aria-hidden="true"></i> Add
            Address</a
          >
          <a href="/myWallet" class="btn btn-primary m-5"
            ><i class="fa-solid fa-wallet" aria-hidden="true"></i>Wallet</a
          >
          <a class="btn btn-primary m-5" href="/changePassword"
            ><i class="fa fa-list" aria-hidden="true"></i>Change Password</a
          >
        </div>
      </div>
    </div>

    <style>
      .user-addresses {
        border-collapse: collapse;
        width: 100%;
      }

      .user-addresses th,
      .user-addresses td {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: left;
      }

      .user-addresses th {
        background-color: #f0f0f0;
      }

      .user-addresses td {
        vertical-align: top;
      }

      .user-addresses.btn {
        margin: 5px;
      }
    </style>

    <table class="user-addresses">
      <thead>
        <tr>
          <th>Address Head</th>
          <th>Name</th>
          <th>Line 1</th>
          <th>Line 2</th>
          <th>Phone Number</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% userAdd.forEach((address, i) => { %>
        <tr>
          <td><%= address.addressHead %></td>
          <td><%= address.firstName %> <%= address.lastName %></td>
          <td><%= address.addressLine1 %></td>
          <td><%= address.addressLine2 %></td>
          <td><%= address.phone %></td>
          <td>
            <a
              href="/editAddress?addId=<%= address._id %>"
              class="btn btn-success"
              >Edit</a
            >
            <a
              href="/deleteAddress?dltId=<%= address._id %>"
              class="btn btn-danger"
              onclick="return confirm('Do you want to delete?')"
              >Delete</a
            >
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>

    <!-- Footer Start -->
    <footer class="ms-footer m-t-30">
      <div class="footer-container">
        <div class="footer-top padding-tb-60">
          <div class="container">
            <div class="row m-minus-991">
              <div class="col-sm-12 col-lg-3 ms-footer-cat">
                <div class="ms-footer-widget ms-footer-company">
                  <img
                    src="/assets/img/logo/footer-logo.png"
                    class="ms-footer-logo"
                    alt="footer logo"
                  />
                  <p class="ms-footer-detail">
                    Cake Cart is the Biggest Cake destination that you can get.
                  </p>
                  <div class="ms-app-store">
                    <a href="#" class="app-img"
                      ><img
                        src="/assets/img/app/android.png"
                        class="adroid"
                        alt="apple"
                    /></a>
                    <a href="#" class="app-img"
                      ><img
                        src="/assets/img/app/apple.png"
                        class="apple"
                        alt="apple"
                    /></a>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-lg-2 ms-footer-info">
                <div class="ms-footer-widget">
                  <h4 class="ms-footer-heading">Category</h4>
                  <div class="ms-footer-links ms-footer-dropdown">
                    <ul class="align-items-center">
                      <li class="ms-footer-link">
                        <a href="shop-left-sidebar-col-3.html">Dairy & Milk</a>
                      </li>
                      <li class="ms-footer-link">
                        <a href="shop-banner-left-sidebar-col-3.html"
                          >Snack & Spice</a
                        >
                      </li>
                      <li class="ms-footer-link">
                        <a href="shop-full-width-col-5.html">Fast Food</a>
                      </li>
                      <li class="ms-footer-link">
                        <a href="shop-list-left-sidebar.html">Juice & Drinks</a>
                      </li>
                      <li class="ms-footer-link">
                        <a href="shop-list-full-col-2.html">Bakery</a>
                      </li>
                      <li class="ms-footer-link">
                        <a href="shop-banner-right-sidebar-col-4.html"
                          >Seafood</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-lg-2 ms-footer-account">
                <div class="ms-footer-widget">
                  <h4 class="ms-footer-heading">Company</h4>
                  <div class="ms-footer-links ms-footer-dropdown">
                    <ul class="align-items-center">
                      <li class="ms-footer-link">
                        <a href="about-us.html">About us</a>
                      </li>
                      <li class="ms-footer-link">
                        <a href="track-order.html">Delivery</a>
                      </li>
                      <li class="ms-footer-link">
                        <a href="privacy-policy.html">Legal Notice</a>
                      </li>
                      <li class="ms-footer-link">
                        <a href="terms-condition.html">Terms & conditions</a>
                      </li>
                      <li class="ms-footer-link">
                        <a href="checkout.html">Secure payment</a>
                      </li>
                      <li class="ms-footer-link">
                        <a href="contact-us.html">Contact us</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-lg-2 ms-footer-service">
                <div class="ms-footer-widget">
                  <h4 class="ms-footer-heading">Account</h4>
                  <div class="ms-footer-links ms-footer-dropdown">
                    <ul class="align-items-center">
                      <li class="ms-footer-link">
                        <a href="register.html">Sign In</a>
                      </li>
                      <li class="ms-footer-link">
                        <a href="cart.html">View Cart</a>
                      </li>
                      <li class="ms-footer-link">
                        <a href="privacy-policy.html">Return Policy</a>
                      </li>
                      <li class="ms-footer-link">
                        <a href="#">Become a Vendor</a>
                      </li>
                      <li class="ms-footer-link">
                        <a href="#">Affiliate Program</a>
                      </li>
                      <li class="ms-footer-link">
                        <a href="checkout.html">Payments</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-lg-3 ms-footer-cont-social">
                <div class="ms-footer-contact">
                  <div class="ms-footer-widget">
                    <h4 class="ms-footer-heading">Contact</h4>
                    <div class="ms-footer-links ms-footer-dropdown">
                      <ul class="align-items-center">
                        <li class="ms-footer-link ms-foo-location">
                          <span
                            ><img
                              src="/assets/img/icons/foo-location.svg"
                              class="svg_img foo_svg"
                              alt=""
                          /></span>
                          <p>
                            2548 Broaddus Maple Court, Madisonville KY 4783,
                            USA.
                          </p>
                        </li>
                        <li class="ms-footer-link ms-foo-call">
                          <span
                            ><img
                              src="/assets/img/icons/foo-wp.svg"
                              class="svg_img foo_svg"
                              alt="" /></span
                          ><a href="tel:+009876543210">+00 9876543210</a>
                        </li>
                        <li class="ms-footer-link ms-foo-mail">
                          <span
                            ><img
                              src="/assets/img/icons/foo-mail.svg"
                              class="svg_img foo_svg"
                              alt="" /></span
                          ><a href="mailto:example@email.com"
                            >example@email.com</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="ms-footer-social">
                  <div class="ms-footer-widget">
                    <div class="ms-footer-links ms-footer-dropdown">
                      <ul class="align-items-center">
                        <li class="ms-footer-link">
                          <a href="#"
                            ><i
                              class="msicon msi-instagram"
                              aria-hidden="true"
                            ></i
                          ></a>
                        </li>
                        <li class="ms-footer-link">
                          <a href="#"
                            ><i
                              class="msicon msi-twitter-square"
                              aria-hidden="true"
                            ></i
                          ></a>
                        </li>
                        <li class="ms-footer-link">
                          <a href="#"
                            ><i
                              class="msicon msi-facebook-square"
                              aria-hidden="true"
                            ></i
                          ></a>
                        </li>
                        <li class="ms-footer-link">
                          <a href="#"
                            ><i
                              class="msicon msi-linkedin-square"
                              aria-hidden="true"
                            ></i
                          ></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-bottom">
          <div class="container">
            <div class="row">
              <div class="ms-bottom-info">
                <!-- Footer Copyright Start -->
                <div class="footer-copy">
                  <div class="footer-bottom-copy">
                    <div class="ms-copy">
                      Copyright ©
                      <a class="site-name" href="index-2.html">Masterkart</a>
                      all rights reserved. Powered by Masterkart.
                    </div>
                  </div>
                </div>
                <!-- Footer Copyright End -->
                <!-- Footer payment -->
                <div class="footer-bottom-right">
                  <div
                    class="footer-bottom-payment d-flex justify-content-center"
                  >
                    <div class="payment-link">
                      <img
                        src="/assets/img/hero-bg/payment.png"
                        alt="payment"
                      />
                    </div>
                  </div>
                </div>
                <!-- Footer payment -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer Area End -->

    <!-- Add to Cart Notify -->
    <div class="ms-cart-notify">
      <a href="javascript:void(0)" class="ms-cart-toggle"
        ><img
          src="/assets/img/icons/pro_cart.svg"
          class="svg_img"
          alt="cart"
        /><span>3</span></a
      >
    </div>

    <!-- Add to Wishlist Notify  -->
    <div class="ms-wish-notify"></div>

    <!-- Add to Compare list Notify  -->
    <div class="ms-compare-notify"></div>

    <!-- Back to top  -->
    <a class="ms-back-to-top"></a>

    <!-- Features sidebar  -->
    <div class="ms-features-sidebar-overlay"></div>
    <div class="ms-features-sidebar">
      <div class="tool-title">
        <h3>Features</h3>
      </div>
      <a href="#" class="ms-tools-sidebar-toggle open-features">
        <img alt="icon" src="/assets/img/icons/setting.svg" class="svg_img" />
      </a>
      <div class="ms-features-block">
        <div class="ms-features-title">Colors</div>
        <ul class="bg-panel ms-change-color">
          <li class="active" data-color="01">
            <a href="javascript:void(0)" class="colorcode1"></a>
          </li>
          <li data-color="02">
            <a href="javascript:void(0)" class="colorcode2"></a>
          </li>
          <li data-color="03">
            <a href="javascript:void(0)" class="colorcode3"></a>
          </li>
          <li data-color="04">
            <a href="javascript:void(0)" class="colorcode4"></a>
          </li>
          <li data-color="05">
            <a href="javascript:void(0)" class="colorcode5"></a>
          </li>
          <li data-color="06">
            <a href="javascript:void(0)" class="colorcode6"></a>
          </li>
          <li data-color="07">
            <a href="javascript:void(0)" class="colorcode7"></a>
          </li>
          <li data-color="08">
            <a href="javascript:void(0)" class="colorcode8"></a>
          </li>
          <li data-color="09">
            <a href="javascript:void(0)" class="colorcode9"></a>
          </li>
        </ul>
      </div>
      <div class="ms-features-block">
        <div class="ms-tools-sidebar-content">
          <div class="ms-features-title">Dark mode</div>
          <div class="ms-change-mode" id="ms-change-mode">
            <div class="ms-mode-switch">
              <div class="ms-mode-btn">Mode</div>
              <div class="ms-mode-on">On</div>
              <div class="ms-mode-off">Off</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Plugins JS -->
    <script src="/assets/js/plugins/jquery-3.5.1.min.js"></script>
    <script src="/assets/js/plugins/popper.min.js"></script>
    <script src="/assets/js/plugins/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/plugins/bootstrap-select.min.js"></script>
    <script src="/assets/js/plugins/fontawesome.js"></script>
    <script src="/assets/js/plugins/owl.carousel.min.js"></script>
    <script src="/assets/js/plugins/swiper-bundle.min.js"></script>
    <script src="/assets/js/plugins/infiniteslidev2.js"></script>
    <script src="/assets/js/plugins/jquery.zoom.min.js"></script>
    <script src="/assets/js/plugins/slick.min.js"></script>
    <script src="/assets/js/plugins/nouislider.js"></script>

    <!-- Main Js -->
    <script src="/assets/js/main.js"></script>
  </body>

  <!-- Mirrored from maraviyainfotech.com/wrapbootstrap/masterkart-html/masterkart-html/shop-full-width.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 11 Mar 2024 10:02:16 GMT -->
</html>
